@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #fff;
  --color-component-bg: #fff;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

.dark {
  --color-background: #202c36;
  --color-component-bg: #2b3844;
  --color-text: #fff;
}
